# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "5bd5448050ec395a177d5b410d433873"
name = "Vibita Tracking"
application_url = "https://app.vibita.io"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"


[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_orders,write_merchant_managed_fulfillment_orders"

[auth]
redirect_urls = [
  "https://app.vibita.io/auth/callback",
  "https://app.vibita.io/auth/shopify/callback",
  "https://app.vibita.io/api/auth/callback"
]
